<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatHub"
        tools:targetApi="31">
        <activity
            android:name=".after_notification2"
            android:exported="false" />
        <activity
            android:name=".afterNotification"
            android:exported="false" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false"
            android:permission="TODO">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Cloud"
            android:exported="false" />
        <activity
            android:name=".drawer"
            android:exported="true" />
        <activity
            android:name=".MainActivity2"
            android:exported="true"></activity>
        <activity
            android:name=".Rate"
            android:exported="true" />
        <activity
            android:name=".Footer"
            android:exported="false" />
        <activity
            android:name=".custom_toast"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>